<h4 class="mb-2"><%= title %></h4>
<div class="table-responsive mb-5">
  <table class="table table-striped table-sm" id="table-<%= title.parameterize %>">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Chapter</th>
        <th>Manpower</th>
      </tr>
    </thead>
    <tbody>
    <% rank = 1 %>
    <% chapters.each_with_index do |chapter, index| %>
      <%
        # Check if the next row has the same manpower
        if index + 1 < chapters.length && chapters[index + 1].manpower === chapter.manpower
          tie = 'T'
          if index > 0 && chapters[index - 1].manpower != chapter.manpower
            rank = index + 1
          end
        # Check if the previous row has the same manpower
        elsif index > 0 && chapters[index - 1].manpower === chapter.manpower
          tie = 'T'
        # Default to index + 1
        else
          rank = index + 1
          tie = ''
        end
      %>
      <tr class="<% if index + 1 > 10 %>collapse<% end %>">
        <td class="text-center">
          <%= tie %><%= rank %>
        </td>
        <td>
          <%= link_to chapter.name, admin_chapter_path(id: chapter[:id]) %>
          <% if chapter[:status] == 0 %><span class="badge badge-sm text-bg-secondary">Dormant</span><% end %>
          <% if chapter[:expansion] == 1 %><span class="badge badge-sm text-bg-success">Expansion</span><% end %>
          <div><small><%= chapter.institution_name %></small></div>
        </td>
        <td class="text-end"><%= chapter.manpower %></td>
      </tr>
    <% end %>
    </tbody>
    <% if chapters.size > 10 %>
    <tfoot>
      <tr>
        <td colspan="3" class="text-center p-0"><a href="#" data-toggle="toggle-table-rows" data-table-id="table-<%= title.parameterize %>" class="d-block btn btn-sm text-muted"><i class="fas fa-caret-down fa-fq me-1"></i>Expand</a></td>
      </tr>
    </tfoot>
    <% end %>
  </table>
</div>
