<% content_for :title, 'Dashboard' %>

<%= render 'admin/admin_menu' %>

<div class="d-flex mb-3">
  <div class="me-auto text-center text-md-start">
    <h1>Dashboard</h1>
  </div>
  <div class="text-end">
    <div class="dropdown">
      <button class="btn border-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-calendar fa-fw ms-1"></i>
          Report for <strong><%= @report_date.strftime('%-m/%-d/%Y') %></strong>
          <% if @report_date != @compare_date %>
          <small><br />(Compared to <strong><%= @compare_date.strftime('%-m/%-d/%Y') %></strong>)</small>
          <% end %>
      </button>
      <div class="dropdown-menu">
        <%= form_with(url: admin_path(), method: :get, local: true, id: 'dashboard_date_form') do |form| %>
          <div class="p-3">
            <div class="d-flex">
              <div class="p-1 ms-auto">
                <%= form.label :date, 'Report', class: 'col-form-label' %>
              </div>
              <div class="p-1">
                <%= form.date_field :date, value: @report_date, class: 'form-control' %>
              </div>
            </div>
            <div class="d-flex">
              <div class="p-1 ms-auto">
                <%= form.label :compare, 'Compare', class: 'col-form-label' %>
              </div>
              <div class="p-1">
                <%= form.date_field :compare, value: @compare_date, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="px-4">
            <%= form.button 'Go', name: nil, type: :submit, class: 'btn btn-primary w-100' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <div id="manpower_chart" class="my-3">
      <%= line_chart @manpower_survey, title: 'Daily Reported Manpower', thousands: ',', download: { filename: "daily-reported-manpower-#{@report_date}.png", background: "#ffffff" }, library: {
          scales: {
            y: {
              type: 'linear',
              display: true,
              position: 'left'
            },
            y1: {
              type: 'linear',
              display: true,
              position: 'right',
              yTitle: 'Chapters',
              suggestedMax: 300,
              suggestedMin: 0
            },
          }
      } %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="manpower_distribution" class="my-3">
      <%= column_chart @manpower_distribution, title: 'Manpower Distribution', download: { filename: "manpower-distribution-#{@report_date}.png", background: "#ffffff" }, library: {
        scales: {
          x: {
            display: false
          }
        }
      } %>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 my-3 text-center">
    <div class="mb-4">
      <div class="display-1">
        <%= @active_chapters %>
      </div>
      Active Chapters
    </div>

    <div class="mb-4">
      <div class="display-1">
        <%= number_with_delimiter(@current_manpower) %>
      </div>
      Current Manpower (<%= Date.today.strftime('%-m/%-d') %>)
      <div>
        <% if @compare_manpower > 0 %>
        <% if @current_manpower > @compare_manpower %>
          <span class="text-success" title="<%= number_with_delimiter(@compare_manpower) %>"><i class="fas fa-square-caret-up fa-fw ms-1"></i> +<%= number_with_delimiter((@compare_manpower - @current_manpower).abs) %></span> (<%= @compare_date.strftime('%-m/%-d') %>)
        <% elsif @current_manpower < @compare_manpower %>
          <span class="text-danger" title="<%= number_with_delimiter(@compare_manpower) %>"><i class="fas fa-square-caret-down fa-fw ms-1"></i> -<%= number_with_delimiter((@current_manpower - @compare_manpower).abs) %></span> (<%= @compare_date.strftime('%-m/%-d') %>)
        <% end%>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <div class="display-1">
        <%= @average_chapter_size.round if @average_chapter_size > 0 %>
      </div>
      Average Chapter Size
    </div>

    <div class="mb-4">
      <div class="display-1">
        <%= @median_chapter_size %>
      </div>
      Median Chapter Size
    </div>
  </div>
  <div class="col-md-4 my-3">
    <% if @report_date != @compare_date %>
    <%= render partial: 'admin/dashboard/manpower_change_ranking_table', locals: { title: 'Largest Manpower Increases', chapters: @chapter_increases } %>
    <% end %>
    <%= render partial: 'admin/dashboard/manpower_ranking_table', locals: { title: 'Largest Chapters', chapters: @largest_chapters } %>
  </div>
  <div class="col-md-4 my-3">
    <% if @report_date != @compare_date %>
    <%= render partial: 'admin/dashboard/manpower_change_ranking_table', locals: { title: 'Largest Manpower Decreases', chapters: @chapter_decreases } %>
    <% end %>
    <%= render partial: 'admin/dashboard/manpower_ranking_table', locals: { title: 'Smallest Chapters', chapters: @smallest_chapters } %>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  // Function to handle the toggle action
  function toggleTableRows(event) {
    event.preventDefault(); // Prevent default link behavior

    // Get the data-table-id from the clicked link
    const tableId = event.currentTarget.getAttribute('data-table-id');
    // Find the associated table using the data-table-id
    const table = document.getElementById(tableId);

    if (!table) {
      console.warn(`Table with id "${tableId}" not found.`);
      return;
    }

    // Find all rows within the table that have the `collapse` class
    const rows = table.querySelectorAll('tr.collapse');

    // Toggle the `show` class on each row
    rows.forEach(row => {
      if (row.classList.contains('show')) {
        row.classList.remove('show');
      } else {
        row.classList.add('show');
      }
    });

    // Toggle the link text between "Show All" and "Show Only Top 10"
    const link = event.currentTarget;
    if (link.textContent.trim() === 'Show All') {
      link.textContent = 'Show Only Top 10';
    } else {
      link.textContent = 'Show All';
    }
  }

  // Attach the toggleTableRows function to all relevant links
  document.querySelectorAll('a[data-toggle="toggle-table-rows"]').forEach(link => {
    link.addEventListener('click', toggleTableRows);
  });
});

</script>
