<%= form_with(model: district) do |form| %>
  <%= render'/save_error_details', record: district if district.errors.any? %>

  <div class="mb-3">
    <%= label_tag :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label_tag :short_name %>
    <%= form.text_field :short_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label_tag :position %>
    <%= form.number_field :position, class: 'form-control' %>
  </div>
  <div>
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
