<div class="card mb-3" id="<%= dom_id district %>">
    <div class="card-body">
        <dl class="row">
            <dt class="col-md-4">Name</dt>
            <dd class="col-md-8"><%= link_to district.name, admin_district_path(district) %></dd>
            <dt class="col-md-4">Short Name</dt>
            <dd class="col-md-8"><%= district.short_name %></dd>
            <dt class="col-md-4">District Governor</dt>
            <dd class="col-md-8"><%= district.staff_name %></dd>
            <dt class="col-md-4">Active Chapter Count</dt>
            <dd class="col-md-8"><%= district.chapters.active.length %></dd>
            <dt class="col-md-4">Dormant Chapter Count</dt>
            <dd class="col-md-8"><%= district.chapters.inactive.length %></dd>
            <dt class="col-md-4">Total Manpower</dt>
            <dd class="col-md-8"><%= district.chapters.sum(:manpower) %></dd>
        </dl>
    </div>
</div>

<% unless current_page?(admin_districts_url) %>
<hr />
<div id="manpower_chart">
  <%= line_chart @manpower_survey, title: 'Daily Reported Manpower', points: false %>
</div>

<hr />
<div data-controller="map" data-map-url-value="<%= admin_district_chapters_path(format: :json, district_id: district.id) %>">
    <div class="row">
        <div class="col-lg-9">
            <div id="map" class="map-box"></div>
        </div>
        <div class="col-lg-3">
            <div id="chapter_list" class="chapter-list overflow-auto"></div>
        </div>
    <div>
</div>
<% end %>

