<%= render 'admin/admin_menu' %>

<div class="row mb-3">
  <div class="col-md text-center text-md-start">
    <h1>Districts</h1>
  </div>
  <div class="col-md text-center text-md-end">
    <%= link_to raw('<i class="fas fa-download"></i> Export'), admin_districts_path(format: :csv), class: 'btn btn-secondary' %>
    <%= link_to raw('<i class="fas fa-plus"></i> New'), new_admin_district_path, class: 'btn btn-primary' %>
  </div>
</div>


<div id="districts" data-controller="admin">
  <table class="table table-admin">
    <thead>
      <th>District</th>
      <th>Short Name</th>
    </thead>
    <tbody>
      <% @districts.each do |district| %>
      <tr>
        <td data-order="<%= district.position %>"><%= link_to district.name, admin_district_path(district) %></td>
        <td><%= district.short_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
