<%= render 'admin/admin_menu' %>

<%= render @district %>

<div>
  <%= link_to "Edit this district", edit_admin_district_path(@district) %> |
  <%= link_to "Back to districts", admin_districts_path %>

  <%= button_to "Delete District", admin_district_path(@district), method: :delete, class: 'btn btn-danger' %>
</div>
