<%= form_with(model: [:admin, region]) do |form| %>
  <%= render'admin/save_error_details', record: region if region.errors.any? %>

  <div class="mb-3">
    <%= label_tag :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label_tag :short_name %>
    <%= form.text_field :short_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label_tag :position %>
    <%= form.number_field :position, class: 'form-control' %>
  </div>
  <div class="form-check mb-3">
    <%= form.check_box :status, class: 'form-check-input' %>
    <%= form.label :status, 'Active Region?', class: 'form-check-label' %>
  </div>
  <hr />
  <div class="mb-3">
    <%= label_tag :staff_name %>
    <%= form.text_field :staff_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label_tag :staff_url %>
    <%= form.text_field :staff_url, class: 'form-control' %>
  </div>
  <%= form.submit nil, class: 'btn btn-primary' %>
<% end %>
