<%= render 'admin/admin_menu' %>

<div class="row mb-3">
  <div class="col-md text-center text-md-start">
    <h1>Regions</h1>
  </div>
  <div class="col-md text-center text-md-end">
    <%= link_to raw('<i class="fas fa-download"></i> Export'), admin_regions_path(format: :csv), class: 'btn btn-secondary' %>
    <%= link_to raw('<i class="fas fa-plus"></i> New'), new_admin_region_path, class: 'btn btn-primary' %>
  </div>
</div>

<div id="regions" data-controller="admin">
  <table class="table table-admin">
    <thead>
      <th>Region</th>
      <th>Short Name</th>
    </thead>
    <tbody>
      <% @regions.each do |region| %>
      <tr>
        <td data-order="<%= region.position %>"><%= link_to region.name, admin_region_path(region) %></td>
        <td><%= region.short_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
