<div class="card mb-3" id="<%= dom_id region %>">
    <div class="card-body">
        <dl class="row">
            <dt class="col-2">Name</dt>
            <dd class="col-10"><%= region.name %></dd>
            <dt class="col-2">Short Name</dt>
            <dd class="col-10"><%= region.short_name %></dd>
        </dl>
    </div>
    <% unless current_page?(regions_url) %>

    <div id="map" class="map-box" data-controller="map" data-map-url-value="<%= region_chapters_url(@region, format: 'json') %>"></div>

    <div class="card-body border_top">
        <% unless region.chapters.empty? %>
        <h5>Chapters</h5>
        <% region.chapters.each do |chapter| %>
        <%= render 'chapters/chapter', chapter: chapter %>
        <% end %>
        <% else %>
        <div class="alert alert-primary">No chapters in this region</div>
        <% end %>
    </div>
    <% end %>
</div>
