<%= render '/admin_menu' %>

<%= render @region %>

<div id="map" class="map-box" data-controller="map" data-map-url-value="<%= region_chapters_url(@region, format: 'json') %>"></div>

<div>
  <%= link_to "Edit this region", edit_region_path(@region) %> |
  <%= link_to "Back to regions", regions_path %>

  <%= button_to "Destroy this region", @region, method: :delete %>
</div>
