<tr class="<%= "text-muted" unless chapter.status %>">
  <td><%= chapter.chapter_roll %></td>
  <td>
    <%= link_to chapter.name, admin_chapter_path(chapter) %>
  </td>
  <td data-order="<%= chapter.status %>">
    <% if chapter.status %><span class="badge badge-sm text-bg-primary">Active</span><% end %>
    <% unless chapter.status %><span class="badge badge-sm text-bg-secondary">Dormant</span><% end %>
    <% if chapter.expansion %><span class="badge badge-sm text-bg-success">Expansion</span><% end %>
  </td>
  <td><%= chapter.institution_name %></td>
  <td>
    <% if !chapter.latitude || !chapter.longitude %>
    <span title="Geolocation missing"><i class="fas fa-circle-question"></i></span>
    <% end %>
    <%= chapter.location %>
  </td>
  <td data-order="<%= chapter.charter_date %>"><%= chapter.charter_date ? chapter.charter_date.strftime('%-m/%-d/%Y') : 'Unknown' %></td>
  <td class="text-end"><%= chapter.manpower %></td>
  <% if chapter.district %>
  <td data-order="<%= chapter.district.position %>"><%= link_to chapter.district.name, admin_district_path(chapter.district) %></td>
  <% else %>
  <td class="text-muted">District Unavailable</td>
  <% end %>
</tr>
