<tr class="<%= "text-muted" unless chapter.status %>">
  <td><%= link_to chapter.name, admin_chapter_path(chapter) %> <%= "(Inactive)" unless chapter.status %></td>
  <td><%= chapter.institution_name %></td>
  <td><%= chapter.location %></td>
  <% if chapter.region %>
  <td data-order="<%= chapter.region.position %>"><%= link_to chapter.region.name, admin_region_path(chapter.region) %></td>
  <% else %>
  <td class="text-muted">Region Unavailable</td>
  <% end %>
  <% if chapter.district %>
  <td data-order="<%= chapter.district.position %>"><%= link_to chapter.district.name, admin_district_path(chapter.district) %></td>
  <% else %>
  <td class="text-muted">District Unavailable</td>
  <% end %>
</tr>
