<%= form_with(model: [:admin, @chapter]) do |form| %>
  <%= render'admin/save_error_details', record: chapter if chapter.errors.any? %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
    <div class="form-check mb-3">
    <%= form.check_box :slc, class: 'form-check-input' %>
    <%= form.label :slc, 'SigEp Learning Community', class: 'form-check-label' %>
  </div>
  <hr />
  <div class="mb-3">
    <%= form.label :institution_name %>
    <%= form.text_field :institution_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>
    <div class="mb-3">
    <%= form.label :website %>
    <%= form.url_field :website, class: 'form-control' %>
  </div>
  <hr />
  <div class="form-check mb-3">
    <%= form.check_box :status, class: 'form-check-input' %>
    <%= form.label :status, 'Active Chapter?', class: 'form-check-label' %>
  </div>
  <div class="mb-3">
    <%= form.label :region %>
    <%= form.collection_select :region_id, Region.order(:position), :id, :name, {}, class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= form.label :district %>
    <%= form.collection_select :district_id, District.order(:position), :id, :name, {}, class: 'form-select' %>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <div class="mb-3">
        <%= form.label :latitude %>
        <%= form.text_field :latitude, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :longitude %>
        <%= form.text_field :longitude, class: 'form-control' %>
      </div>
    </div>
    <div class="col-9">
      <% if chapter.id %>
      <div id="map" class="map-box-form" data-controller="map" data-map-url-value="<%= admin_chapter_path(chapter, format: :json) %>" data-map-draggable-value="true"></div>
      <% else %>
      <div id="map" class="map-box-form" data-controller="map" data-map-clickable-value="true"></div>
      <% end %>
    </div>
  </div>
  <hr />
  <div>
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
