<% content_for :title, 'Chapters' %>

<%= render 'admin/admin_menu' %>

<div class="row mb-3">
  <div class="col-md text-center text-md-start">
    <h1>Chapters</h1>
  </div>
  <div class="col-md text-center text-md-end">
    <%= link_to raw('<i class="fas fa-map"></i> Map'), admin_chapters_map_path, class: 'btn btn-secondary' %>
    <%= link_to raw('<i class="fas fa-download"></i> Export'), admin_chapters_path(format: :csv), class: 'btn btn-secondary' %>
    <% if role_check(:editor) %>
    <%= link_to raw('<i class="fas fa-upload"></i> Import'), admin_chapters_import_path, class: 'btn btn-secondary' %>
    <%= link_to raw('<i class="fas fa-plus"></i> New'), new_admin_chapter_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if !@chapters_missing_district.count.zero? %>
<div class="card mb-4 border-danger">
  <div class="card-header text-bg-danger">
    Active Chapters Missing District
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Roll #</th>
          <th>Chapter</th>
          <th>Status</th>
          <th>Institution</th>
          <th>City</th>
          <th>State</th>
          <th>Charter Date</th>
          <th>Manpower</th>
          <th>District</th>
        </tr>
      </thead>
      <tbody>
        <% @chapters_missing_district.each do |chapter| %>
          <%= render 'chapter_row', chapter: chapter %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<div id="chapters" data-controller="admin">
  <table class="table table-admin">
    <thead>
      <tr>
          <th>Roll #</th>
          <th>Chapter</th>
          <th>Status</th>
          <th>Institution</th>
          <th>City</th>
          <th>State</th>
          <th>Charter Date</th>
          <th>Manpower</th>
          <th>District</th>
      </tr>
    </thead>
    <tbody>
      <% @chapters.each do |chapter| %>
        <%= render 'chapter_row', chapter: chapter %>
      <% end %>
    </tbody>
  </table>
</div>
