<!DOCTYPE html>
<html>
  <head>
    <title>Chapter Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Listing of current Sigma Phi Epsilon (SigEp) chapters."> <!-- ˜150 chars -->
    <meta property="og:title" content="Chapter Directory">
    <meta property="og:description" content="Listing of current Sigma Phi Epsilon (SigEp) chapters."> <!-- ˜300 chars -->
    <meta property="og:site_name" content="Chapter Directory">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:image" content="/opengraph.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/09b66f5b11.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script>
      var ImagePaths = {
        chapterIcon: "<%= asset_path('chapter.svg') %>",
        slcChapterIcon: "<%= asset_path('chapter-slc.svg') %>"
      }
    </script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-header mb-3">
      <div class="container-fluid">
        <a class="navbar-brand me-auto" href="<%= root_path() %>">Chapter Directory</a>
        <% if user_signed_in? %>
        <div class="text-light p-2">
          <%= link_to 'Site Admin', admin_path, class: 'text-light' %>
        </div>
        <div class="text-light p-2">
           <%= current_user.email %>
        </div>
        <%= button_to('Sign Out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-light btn-sm') %>
        <% end %>
      </div>
    </nav>

    <div class="container-fluid">
      <%- flash.each do |name, msg| -%>
      <div class="<%= flash_class(name) %>" role="alert"><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></div>
      <%- end -%>

      <%= yield %>
    </div>
    <div class="text-muted text-center my-3">
      <small>Made with Virtue, Diligence, and Brotherly Love by <a href="https://utmartin.sigep.org/" target="_blank">UT Martin SigEp</a> &bull; <a href="https://github.com/utmsigep/chapter-directory-rails" target="_blank">Source Code</a></small>
    </div>
  </body>
</html>
