<!DOCTYPE html>
<html>
  <head>
    <title>Chapter Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-header mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path() %>">Chapter Directory</a>
      </div>
    </nav>

    <div class="container-fluid">
      <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
